<ion-view title="SHOW COMMERCE PDV">
    <ion-content padding="'true'" class="has-header">
        <form class="list" name="form" ng-submit="login()" novalidate>
            <ion-list>
          
                <label class="item item-input" >      
                    <input ng-model="user.cpf"  name="cpf" type="text" placeholder="CPF" pattern="[0-9]{11}" inputmode="numeric" required >
                </label>
                <label class="item item-input" ng-show="visible">
                    <input ng-model="user.nome" name="nome" type="text" placeholder="Nome" required>
                </label>

                <label class="item item-input" ng-show="visible">
                    <input ng-model="user.sobrenome" name="sobrenome" type="text" placeholder="Sobrenome" required >
                </label>
                <label class="item item-input" ng-show="visible">
                     <input ng-model="user.email" name="email" type="text" placeholder="Email" required >
                </label>
                <label class="item item-input" ng-show="visible">
                     <input ng-model="user.telefone" type="text" placeholder="Telefone" required>
                </label>
                <label  class="item item-input" ng-show="visible">
                     <input ng-model="user.senha" type="password" placeholder="Senha" >            
                </label>

                    <input type="hidden" ng-model="user.id" name="id" id="id">
    
              
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button  class="button button-positive button-block"  ng-if="visible" >Entrar</button>
            <button  class="button button-positive button-block " ng-if="!visible"  ng-click="consultarCPF()" ng-model="checked" >Consultar CPF</button>
            
            <a href="#/page5" class="button button-positive button-clear button-block" ng-if="!visible"  > Não possui conta ? Cadastre-se </a>
        </form>
    </ion-content>
</ion-view>