/* 
 * 	Core Owl Carousel CSS File
 *	v1.24
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(../img/ui/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* CSS3 Transitions */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}

/*
* 	Owl Carousel Owl  Theme 
*	v1.24
*/

.slider-controls{
	margin-bottom:-23px;
}

.third-thumb{
	width:29%;
	float:left;
	margin-left:2%;
	margin-right:2%;
}

.half-thumb{
	width:48%;
	float:left;
	margin-left:1%;
	margin-right:1%;
}

.next-slider{
	background-image:url(../../../../../enableds.com/products/slidebox/left-sidebar/images/ui/next.html);
	background-repeat:no-repeat;
	width:27px;
	height:27px;
	background-size:27px;
	height:27px;
	position:absolute;
	right:20px;
	margin-top:-45%;
}

.prev-slider{
	background-image:url(../../../../../enableds.com/products/slidebox/left-sidebar/images/ui/prev.html);
	background-repeat:no-repeat;
	width:27px;
	height:27px;
	background-size:27px;
	height:27px;
	position:absolute;
	left:20px;
	margin-top:-45%;
}

.prev-staff, .prev-quote{
	z-index:99999;
	background-image:url(../img/ui/prev1.png);
	background-repeat:no-repeat;
	width:45px;
	height:45px;
	background-size:16px 16px;
    background-position: 13px 15px;
	position:absolute;
	left:0px;
	margin-top:20%;	
    border-radius:45px;
    transition:all 400ms ease;
}

.prev-staff:hover, .prev-quote:hover{
    background-color:rgba(0,0,0,0.1);
    transition:all 400ms ease;
}


.next-staff, .next-quote{
	z-index:99999;
	background-image:url(../img/ui/next1.png);
	background-repeat:no-repeat;
	width:45px;
	height:45px;
	background-size:16px 16px;
    background-position: 16px 15px;
	position:absolute;
	right:0px;
	margin-top:20%;		
    border-radius:45px;
    transition:all 400ms ease;
}

.next-staff:hover, .next-quote:hover{
     background-color:rgba(0,0,0,0.1);
    transition:all 400ms ease;   
}

@media screen and (orientation:landscape) {
	.next-staff{
		margin-top:24%;
	}
	
	.prev-staff{
		margin-top:24%;	
	}
	
	.next-quote{
		margin-top:4%;	
	}
	
	.prev-quote{
		margin-top:4%;	
	}
	
	.staff-item strong{
		width:180px;
		margin-left:auto;
		margin-right:auto;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
	.next-staff{
		margin-top:12.1%;
	}
	.prev-staff{
		margin-top:12.1%;	
	}
	
	.next-quote{
		margin-top:4%;	
	}
	
	.prev-quote{
		margin-top:4%;	
	}
	
	.staff-item strong{
		width:180px;
		margin-left:auto;
		margin-right:auto;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
	.next-staff{
		margin-top:17.3%;
	}
	.prev-staff{
		margin-top:17.3%;	
	}
	
	.next-quote{
		margin-top:8%;	
	}
	
	.prev-quote{
		margin-top:8%;	
	}
	
	.staff-item strong{
		width:180px;
		margin-left:auto;
		margin-right:auto;
	}
}


.owl-theme .owl-controls{
	text-align: center;
}

.owl-pagination{
	margin-top:-5px;
	margin-bottom:5px;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../../../../../enableds.com/products/slidebox/left-sidebar/styles/AjaxLoader.html) no-repeat center center
}

/*Homepage Slider Theme*/

.slider-container{
	overflow:visible;
}

.homepage-sliders .item img{
  	display: block;
  	width: 100%;
  	height: auto;
}
#bar{
  	width: 0%;
  	max-width: 100%;
  	height: 3px;
	background: #3498db;
}

#progressBar{
	position:absolute;
	bottom:0px;
	z-index:9999;
	width: 100%;
	background: #000000;
}

.homepage-left-caption h3{text-align:left;}
.homepage-left-caption p{text-align:left;}

.homepage-center-caption h3{text-align:center; margin-left:-10px;}
.homepage-center-caption p{text-align:center; margin-left:-10px;}

.homepage-right-caption h3{text-align:right;}
.homepage-right-caption p{text-align:right;}

.homepage-slider-caption{
	position:absolute;
	width:100%;
	bottom:0px;
	z-index:999999;
}

.homepage-slider-caption h3{
	color:#FFFFFF;
	font-family:'Roboto', sans-serif;
	font-size:16px;
	text-transform:uppercase;
	padding-left:30px;
    padding-right:30px;
	margin-bottom:0px;
}

.homepage-slider-caption p{
	color:#cacaca;
	padding-left:30px;
    padding-right:30px;
	margin-bottom:20px;
}

@media (min-width:768px){
	.homepage-slider-caption{
		bottom:10px;	
	}
	
	.homepage-slider-caption h3{
		padding-left:50px;	
        padding-right:50px;
		font-size:18px;
	}
	.homepage-slider-caption p{
		padding-left:50px;	
        padding-right:50px;
		font-size:12px;
	}
}

.homepage-slider-controls{
	background-color:rgba(0,0,0,0.3);
}


.homepage-slider .responsive-image{
	margin-bottom:0px;
}

.next-home{
	background-image:url(../../../../../enableds.com/products/slidebox/left-sidebar/images/misc/arrow-right.html);
	background-size:20px 20px;
	position:absolute;
	width:20px;
	height:20px;
	right:20px;
	margin-top:-70px;
	z-index:99999;
}

.prev-home{
	background-image:url(../../../../../enableds.com/products/slidebox/left-sidebar/images/misc/arrow-left.html);
	background-size:20px 20px;
	position:absolute;
	width:20px;
	height:20px;
	right:60px;
	margin-top:-70px;
	z-index:99999;
}
